@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes play-1 {
  0% {
    left: calc(50% - 40px);
    top: 0;
  }
  20% {
    left: 0;
    top: calc(50% - 40px);
  }
  50% {
    left: calc(50% - 40px);
    top: calc(100% - 80px);
  }
  75% {
    left: calc(100% - 80px);
    top: calc(50% - 40px);
  }
  100% {
    left: calc(50% - 40px);
    top: 0;
  }
}

@keyframes play-2 {
  0% {
    left: calc(20% - 80px);
    top: 10%;
  }
  20% {
    left: calc(100% - 80px);
    top: calc(30% - 40px);
  }
  50% {
    left: 0;
    top: calc(60% - 40px);
  }
  75% {
    left: calc(100% - 80px);
    top: calc(40% - 40px);
  }
  100% {
    left: calc(20% - 80px);
    top: 10%;
  }
}

@keyframes play-3 {
  0% {
    left: calc(100% - 80px);
    top: calc(100% - 80px);
  }
  20% {
    left: 0;
    top: calc(50% - 40px);
  }
  50% {
    left: calc(100% - 80px);
    top: calc(66% - 40px);
  }
  75% {
    left: 0;
    top: calc(80% - 80px);
  }
  100% {
    left: calc(100% - 80px);
    top: calc(100% - 80px);
  }
}

@keyframes play-4 {
  0% {
    left: calc(50% - 40px);
    top: calc(100% - 80px);
  }
  20% {
    left: calc(100% - 80px);
    top: calc(50% - 40px);
  }
  50% {
    left: calc(50% - 40px);
    top: 0;
  }
  75% {
    left: 0;
    top: calc(50% - 40px);
  }
  100% {
    left: calc(50% - 40px);
    top: calc(100% - 80px);
  }
}
